.country-card {
    
    margin-top: 10px;
    max-width: 600px;
    margin-right: 10px;
  }
  .mat-header{
    height: 30px;
    text-align: center;
    background-color:cornflowerblue;
    color: white;
}